body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-bottom: 0px;
}

h3 {
    margin-top: 5px;
    margin-bottom: 40px;
}

button {
    background-color: white;
    border-style: none;
    border: 2px solid black;
    height: auto;
    width: 100px;
}

.choices {
    display: flex;
    margin: 10px;
    width: 300px;
    justify-content: space-between;
    margin-top: 20px;
}

.playerChoice, .compChoice {
    background-color: pink;
    width: 100px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pChoice, .cChoice, .result-text{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.result-box {
    background-color: pink;
    width: 270px;
    height: 50px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}